@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components {
  body {
    @apply bg-center bg-fixed;

    background-size: cover;
  }
  .loader {
    border: 16px solid #234522;
    border-top: 16px solid #101523; /* Blue */
    border-radius: 50%;
    width: 105px;
    height: 105px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .auth-button {
    @apply bg-black w-[250px] h-[40px] text-white;
  }
  .auth-links a {
    @apply p-2 text-slate-600;
  }
  .auth-links a:active {
    @apply p-2 text-white bg-black;
  }
  .seat {
    background-color: black;
    color: white;
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .seat.selected {
    background-color: blue;
  }
}
