@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@layer components {
  body {
    @apply bg-center bg-fixed;
    background-size: cover;
  }
  .auth-button {
    @apply bg-black w-[250px] h-[40px] text-white;
  }
  .auth-links a {
    @apply p-2 text-slate-600;
  }
  .auth-links .active-link {
    @apply p-2 text-white bg-black;
  }
}
